/*
 * @Author: Nisal Madusanka(EruliaF) 
 * @Date: 2018-12-24 17:19:44 
 * @Last Modified by: Nisal Madusanka(EruliaF)
 * @Last Modified time: 2019-01-27 12:14:32
 */

 /*
 * default init CSS for whole web site.
*/

.initclass{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    font-weight: normal;
    text-shadow:none;  
    background-color: none;
    box-shadow:none;
}

.defaultFontFamily{
   font-family: Arial, Helvetica, sans-serif;    
}

.defaultFontSize{
    font-size: $defaultFontSize;
}

body{
    @extend .initclass;
    @extend .defaultFontFamily;
    @extend .defaultFontSize;
}

body,h1,h2,h3,h4,h5,h6,p,font,span,div,a,table{
    @extend .initclass;
    @extend .defaultFontFamily;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

p{
    @extend .defaultFontSize;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.divLeft{
    float: left;
}

.divRight{
    float: right;
}

.div100{
    @extend .divLeft;
    width: 100%;
}

.div50{
    @extend .divLeft;
    width: 50%; 
}


.invalid{
    .invalid-feedback{
        display: block !important;
    }
}

//page loard
.pageLoader{
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .loader{  
        flex-direction: column;
        text-align: center;
        width: 70px;
        height: 70px;
    }
}

//override
.breadcrumb{  
        margin-top: 16px;   
}

.show{
    display: block !important;
}

.fade{
    background-color:rgba(0, 0, 0, 0.5);   
}    

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
    .siteLogo{
        height: 40px;
        width: 100%;
    }
}

.nav-link{
    color: #ffffff;
    cursor: pointer;
}


.pageContent{
    margin-bottom: 50px;
}

.footerDiv{
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #343a40; 
    

    .container{       
        color: #ffffff;
        padding: 10px;
    }
}